# Python Tuples
>Tuple is collection in python
>
>Tuple is immutable(no changeable at runtime)
>
>Tuple allows multiple datatypes values to be store

### What can be done
> Create Tuple
>
> Indexing and Slicing

# Create Tuple

In [1]:
#Creating a tuple
t1 = ("Apple","Orange",1,2,3,12.5,15.67,1,2)
print("Current tuple: ",t1)

Current tuple:  ('Apple', 'Orange', 1, 2, 3, 12.5, 15.67, 1, 2)

# How to check a length of tuple

In [5]:
t2 = (1,2,3,4,5,6,7,8)
#checking the length of tuple 
print("The length of the tuple is: ",len(t2))

The length of the tuple is:  8

# Indexing/Slicing

In [ ]:
# Same as list

# Convert Tuple into List

In [8]:
t1 = ("Apple","Orange",1,2,3,12.5,15.67,1,2)
print("Current Tuple: ",t1) #before change

x = list(t1)
print("After converting:",x)

Current Tuple:  ('Apple', 'Orange', 1, 2, 3, 12.5, 15.67, 1, 2)
After converting: ['Apple', 'Orange', 1, 2, 3, 12.5, 15.67, 1, 2]

# Tuple to List then add a value after adding convert the list into tuple

In [23]:
# create a tuple
t1 = ("Python","Java","C++","Swift")
print("Current tuple: ",t1)
print(type(t1))
#conter tuple into list
l1 = list(t1)
print("\nAfter convert into list: ",l1)
print(type(l1))
# add a value
l1.append("Dart")
print("\nAfter adding value:",l1)
print(type(l1))
# convert list into tuple 
t2 = tuple(l1)
print("\nAfter convert list into tuple:",t2)
print(type(t2))

Current tuple:  ('Python', 'Java', 'C++', 'Swift')
<class 'tuple'>

After convert into list:  ['Python', 'Java', 'C++', 'Swift']
<class 'list'>

After adding value: ['Python', 'Java', 'C++', 'Swift', 'Dart']
<class 'list'>

After convert list into tuple: ('Python', 'Java', 'C++', 'Swift', 'Dart')
<class 'tuple'>

# Loops with Tuple

In [28]:
#for loop with tuple
t1 = ("Python","Java","C++","Dart")
for i in t1:
    print(i)

Python
Java
C++
Dart

In [36]:
#while loop with tuple
t1 = ("Python","Java","C++","Dart")
i = 0
while i<len(t1):
    print(t1[i])
    i = i+1
else:
    print("Loop finish")

Python
Java
C++
Dart
Loop finish